extends ../layout

block content
    section#kanban-board
        section.stage#new
            h3 New
            !=renderStageStories('new', userStories);
        section.stage#in-progress
            h3 In Progress
            !=renderStageStories('in-progress', userStories);
        section.stage#complete
            h3 Complete
            !=renderStageStories('complete', userStories);