extends ../layout

block scripts
    script(src="/javascripts/jade-runtime.js", type="text/javascript")
    script(src="/javascripts/kanban.home.index.js", type="text/javascript")
    != assets.tag('/partials.js')

    script(type='text/javascript')

        var io = io.connect();

        $(function(){
            $('#doit').click(function(){
                io.emit('createUserStory', {});
            });
        });

        io.on('userStoryCreated', function(userStory){
            $('#new').append(Partials['userStory'](userStory));
        });

        io.on('userStoryStageUpdated', function(userStory){
            $('#' + userStory._id).fadeOut(500, function(){
                $('#' + userStory._id).appendTo('#' + userStory.stage);
                $('#' + userStory._id).fadeIn(500);
            });
        });

        $(document).bind('coolestBananas.kanban.home.index.userStoryChangedStage', function(e, data){
            io.emit('updateUserStoryStage', data);
        });

        var getCharacter = function(charCode){
            if(charCode === 32) return ' ';
            if(charCode === 97) return 'a';
            if(charCode === 98) return 'b';
            if(charCode === 99) return 'c';
            if(charCode === 100) return 'd';
            if(charCode === 101) return 'e';
            if(charCode === 102) return 'f';
            if(charCode === 103) return 'g';
            if(charCode === 104) return 'h';
            if(charCode === 105) return 'i';
            if(charCode === 106) return 'j';
            if(charCode === 107) return 'k';
            if(charCode === 108) return 'l';
            if(charCode === 109) return 'm';
            if(charCode === 110) return 'n';
            if(charCode === 111) return 'o';
            if(charCode === 112) return 'p';
            if(charCode === 113) return 'q';
            if(charCode === 114) return 'r';
            if(charCode === 115) return 's';
            if(charCode === 116) return 't';
            if(charCode === 117) return 'u';
            if(charCode === 118) return 'v';
            if(charCode === 119) return 'w';
            if(charCode === 120) return 'x';
            if(charCode === 121) return 'y';
            if(charCode === 122) return 'z';
        }

        $(document).keypress(function(e){
            console.log(getCharacter(e.charCode));
        });


block content
    #kanban-board
        #new.stage
            .stage-title
                h3 New
            .stage-stories
                !=renderStageStories('new', userStories);
        #in-progress.stage
            .stage-title
                h3 In Progress
            .stage-stories
                !=renderStageStories('in-progress', userStories);
        #complete.stage
            .stage-title
                h3 Complete
            .stage-stories
                !=renderStageStories('complete', userStories);