extends ../layout

block content
    #kanban-board
        #new.stage
            .stage-title
                h3 New
            .stage-stories
                !=renderStageStories('new', userStories);
        #in-progress.stage
            .stage-title
                h3 In Progress
            .stage-stories
                !=renderStageStories('in-progress', userStories);
        #complete.stage
            .stage-title
                h3 Complete
            .stage-stories
                !=renderStageStories('complete', userStories);