doctype 5
html
    head
        title Kanban
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')

        script(src='/javascripts/underscore.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/jade-runtime.js')
        script(src='/javascripts/jquery.simplemodal-1.4.3.js')
        != assets.tag('/partials.js')

        script(src='/javascripts/coolestBananas.namespace.js')
        script(src='/javascripts/coolestBananas.kanban.socket.js')
        script(src='/javascripts/coolestBananas.kanban.dragging.js')
        script(src='/javascripts/coolestBananas.kanban.creator.js')
        script(src='/javascripts/coolestBananas.kanban.js')

    body
        block content