doctype 5
html
    head
        title Kanban
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')

        script(src='/javascripts/underscore.js')
        script(src='/socket.io/socket.io.js')

        block scripts


    body
        block content