doctype 5
html
    head
        title Kanban
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js', type='text/javascript')
        script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js', type='text/javascript')

        script(src='/javascripts/underscore.js', type='text/javascript')
        script(src='/socket.io/socket.io.js', type='text/javascript')
        script(src='/javascripts/jade-runtime.js', type='text/javascript')
        script(src='/javascripts/jquery.simplemodal-1.4.3.js', type='text/javascript')
        != assets.tag('/partials.js')

        script(src='/javascripts/coolestBananas.namespace.js', type='text/javascript')
        script(src='/javascripts/coolestBananas.kanban.socket.js', type='text/javascript')
        script(src='/javascripts/coolestBananas.kanban.dragging.js', type='text/javascript')
        script(src='/javascripts/coolestBananas.kanban.creator.js', type='text/javascript')
        script(src='/javascripts/coolestBananas.kanban.js', type='text/javascript')

    body
        block content